/* app css stylesheet */

html, body, .container, .row {
  min-height: 100vh;
}

.center-xy {
  display: flex;
  flex-direction: row;
}

.center-xy > [class^="col-"], .center-xy > [class*=" col-"] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.wide {
  width: 60%
}
